@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(55, 54, 54);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:text-white hover:bg-white/10;
  }
}
